# Python
backend/.venv/
backend/__pycache__/
backend/.env
*.pyc

# Node
frontend/node_modules/
frontend/.next/
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local
frontend/.env
frontend/dist/

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# Notebooks
notebooks/

# Word Docs
DOCS.docx

# Backups
.git_backup/
**/.git_backup/
