fastapi
uvicorn
pydantic
python-multipart
jinja2
ultralytics
openai
python-dotenv
requests
httpx
gunicorn
onnx
onnxruntime
langchain
langchain-openai
pypdf
chromadb
sentence-transformers
langchain-community
langchain-huggingface
cryptography
